.button{
    border:2px solid #408697;
    background-color: transparent;
    border-radius: 30px;
    width: 100px;
    font-family: 'Roboto Mono', monospace;
    height: 45px;

}

.button2{
    border:2px solid #408697;
    background-color: transparent;
    border-radius: 30px;
    width: 150px;
    height: 25px;
    font-family: 'Roboto Mono', monospace;

}
button:hover{
    border:2px solid #fefefe; 
    background-color: #408697;
    color: #f6f6f6;
}
i{
    color: #363538;
}

a{
    color: #363538;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
body{
    color: #8d8c8a;
    background-image: url(N.png);
}

.container{
   position: absolute;
   top: 0%;
   right: 0%;
   bottom: 0%;
   left: 0%;
    border: none;
    background-color: #363538;
    opacity: 35%;
    
}

 .menu{

   width: 45%; 
    position: absolute;
    justify-content: space-around;
top: 50%;
left: 25%;
    top: 50%;
    display: flex;
    z-index: 1;
    top: 50%;
    padding-bottom: 30px;
    border-bottom: 1px solid #408697;
}

#name {
    color: #f6f6f6;
    font-family: monospace ;
    font-size: 30px;
}

.img{
    position: relative;
    top: 45%;
    left: 8%;
    width: 200px;
    height: 200px;
border-radius: 100px;
}

.menu > .name{
   
    font-family: 'Chakra Petch', sans-serif;
    font-size: 50px;
flex-grow: 5;
}

.menu > .flexbutton{
    position: relative;
    top: 65px;
}
  
